<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645388412523-0mfapqj1n5rp3v5qtj6c6khs82sa44kk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645388412523-0mfapqj1n5rp3v5qtj6c6khs82sa44kk</string>
	<key>API_KEY</key>
	<string>AIzaSyD5x0raJ0nGJoZmE9qqi1ESAmZyFo4uTZA</string>
	<key>GCM_SENDER_ID</key>
	<string>645388412523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.javi.firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-1-e6e15</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-1-e6e15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645388412523:ios:36076518c90c7ef59fb32e</string>
</dict>
</plist>